.headerabc {
  position: relative;
}

.headerabc_menu {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: brown;
}

.headerabc:hover .headerabc_menu {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: brown;
}
