.products {
  padding-top: 7rem;

  &__title {
    width: 100%;
    margin: auto;
    h1 {
      margin: auto;
      @media #{$xs_mobile} {
        font-size: 3rem;
      }
    }
  }
}

.fillter {
  text-align: right;
  padding: 3rem 0;
  padding-right: 2rem;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid rgb(211, 210, 208);
  margin-bottom: 7rem;
  &__item {
    label {
      font-size: 1.6rem;
      margin-right: 1rem;
    }
    select {
      padding: 0 1rem;
    }
  }
}

.category__left {
  background-color: #fff;
  &-content {
    width: 90%;
    margin: auto;
  }

  &-title {
    padding: 1.5rem;
    border-bottom: 1px solid gray;
  }
  &-list {
    padding-left: 2rem;
    ul li {
      padding: 1rem;
    }
  }
}

.product1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 2px 2px 5px rgba($color: grey, $alpha: 0.5);
  margin-bottom: 5rem;
  &__img {
    img {
      width: 100%;
      margin: 0 auto;
      border-bottom: 1px solid black;
    }
  }
  &__content {
    width: 100%;

    ul {
      display: flex;

      width: 70%;
      padding: 0.5rem;
      margin: auto;
      li {
        margin: auto;
      }
    }
  }
  &__title {
    font-size: 1.6rem;
    padding: 0.5rem;
    text-align: center;
    height: 7.5rem;
  }
  &__price {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    span {
      font-size: 2rem;
    }
    span:last-child {
      text-decoration: line-through;
      color: red;
    }
  }
  cursor: pointer;
  &:hover {
    transform: scale(1.02) translateY(5px);
  }

  &__star {
    .MuiSvgIcon-root {
      color: #fdc230;
    }
  }
}

.sort__term {
  outline: none;
}

.activeName {
  color: blue;
}
